---
import type { GetStaticPaths } from 'astro'
import LinkButton from '../../components/LinkButton.astro'
import Paragraph from '../../components/Paragraph.astro'
import Technologies from '../../components/Technologies.astro'
import Title from '../../components/Title.astro'
import { data, type Data } from '../../data/index'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = (() => {
  return data.map((detail) => {
    return {
      params: { id: detail.id },
      props: { detail }
    }
  })
}) satisfies GetStaticPaths

const { id } = Astro.params
const { detail } = Astro.props as { detail: Data }
---

<Layout title="Project | ">
  <main
    class="container mx-auto max-w-screen-lg px-4 lg:px-0 pt-16 min-h-screen"
  >
    <section class="flex flex-col lg:flex-row gap-4">
      <figure class="w-full">
        <img
          transition:name={'card' + id}
          transition:animate="fade"
          class="w-full h-auto md:h-[400px] mx-auto object-cover object-center rounded-md"
          src={detail.imgUrl}
          alt={detail.title + ' image'}
        />
      </figure>
      <div class="flex flex-col items-center w-full gap-3">
        <Title center>{detail.title}</Title>

        <Paragraph>
          {detail.body}
        </Paragraph>

        <div class="flex gap-4 justify-center items-center">
          <LinkButton url={detail.url}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-white"
              style="transform: ;msFilter:;"
              ><path
                d="M20 3H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h7v2H8v2h8v-2h-3v-2h7c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 14V5h16l.002 9H4z"
              ></path></svg
            >
             Page
          </LinkButton>
          <LinkButton
            url={detail.github}
            class="bg-neutral-900 hover:bg-neutral-800"
          >
            <svg
              slot="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-white"
              style="transform: ;msFilter:;"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
              ></path></svg
            >
             Github
          </LinkButton>
        </div>
      </div>
    </section>
    <section class="my-4">
      <h2
        class="font-bold text-transparent text-3xl md:text-5xl bg-clip-text py-2 bg-gradient-to-r from-purple-800 via-cyan-400 to-purple-800"
      >
        Technologies
      </h2>
      <div
        class="flex flex-wrap gap-2 md:gap-3 justify-start items-center pt-4"
      >
        <Technologies techs={detail.technologies} />
      </div>
    </section>
  </main>
</Layout>
