---
import Card from '../components/Card.astro'
import { data as projects } from '../data'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Portfolio - Projects">
  <main
    class="max-w-screen-lg container mx-auto mt-16 px-4 lg:px-0 min-h-screen"
  >
    <h1 class="text-5xl font-semibold mb-4">Projects</h1>
    <section
      class="grid grid-cols-templateAutoCols gap-4 justify-center items-center"
    >
      {
        projects.map((project) => (
          <Card
            id={project.id}
            imgUrl={project.imgUrl}
            title={project.title}
            body={project.body}
            href={`/project/${project.id}`}
          />
        ))
      }
    </section>
  </main>
</Layout>
